@import 'tailwindcss';

@theme {
  --color-navy: #001f3f;
  --color-teal: #008080;
  --color-greenYellow: #adff2f;
  --color-neutralGray: #2c3e50;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
  font-family: var(--font-inter);
}
